html,body,ul{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.navbar-left{
    background-color: #ffffff;
    width: 0;  
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    
}

.navbar-left.show{
    width: 360px;
    padding: 60px;
}

.logo{
    height:15px;
    position: relative;
}

.logo > img{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50,-50);
}


    





