html,body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.navbar-left {
     background-color:#fff;
     width: 0;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
 
    
}

.navbar-left.show{
    
    width: 360px;
    
}

.logo{
    position: relative;
    height: 300px;
}

.logo > img{
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
}





    





