
html,body,ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

*{
    box-sizing: border-box;
}

.navbar-left {
     background-color:#ffff;
     width: 0;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
 
    
}

.navbar-left.show{
    
    width: 360px;
    
}

.logo{
    position: relative;
    height: 300px;
}

.logo > img{
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.nav-menu ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 15px 10px 15px 58px;
    display: inline-block;
    position: relative;
    transition: all .2s;
    
}

.nav-menu ul>li>a:hover{
    color: orange;
}

/*.nav-menu ul>li>a>span{
    display: inline-block;
    background-color: orange;
    width: 0;
    transition: all 0.8s;
}

.nav-menu ul>li>a:hover>span{
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #ffff;
    
}*/

.nav-menu ul>li>a::after{
    content: '';
    display: inline-block;
    background-color: orange;
    width: 0;
    height: 2px;
    transition: all .2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;

}

.nav-menu ul>li>a:hover::after{
    width: 50px;
    
}

.social-links{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 17px;
}

.social-links li{
    margin-right: 15px;

}

.social-links li:last-child{
    margin-right: 0;
}

.social-links li a{
    color: #ffff;
    
}
.social-links li a:hover{
    color: orange;
    transition: all .4s;
}







    





